img  {
    border-radius: 80%;
    width: 200px;
    height: 100px;

}
h1 {
    background-color: blue;
    color: aliceblue;
    text-align-last: center;
  font-size: x-large;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #buy {
    color: yellow;
    background-color: black;
    position: fixed;
    right: 100px;

  }
  p{
    font-size: medium;
    background-color: aliceblue;
    color: red;
  }
h2 {
    background-color: gainsboro;

}
#buyingGuide {
background-color: aliceblue;
}